---
import Layout from '../layouts/main.layout.astro';
import Hero from '../components/hero.astro';
import Portfolio from '../components/portfolio.astro';
---

<Layout title="salarcon tech">
	<!-- <h1 class="work-sans text-4xl">Astro</h1> -->
	
	<Hero />
	<Portfolio />
</Layout>

