---
import Layout from '../layouts/main.layout.astro';
import Hero from '../components/hero.astro';
import Portfolio from '../components/portfolio.astro';
import Services from '../components/services.astro';
import Contact from '../components/contact.astro';
---

<Layout title="Salarcon Tech Solutions: Desarrollo Web, Dom贸tica y Seguridad"
        description="Servicios tecnol贸gicos: desarrollo web, automatizaci贸n, sistemas de seguridad, dom贸tica y redes en Caldas.">
	<!-- <h1 class="work-sans text-4xl">Astro</h1> -->
	<Hero />
	<Services />
	<Portfolio />
	<Contact />
</Layout>

