---
import Layout from '../layouts/main.layout.astro';
import Hero from '../components/hero.astro';
---

<Layout title="salarcon tech">
	<!-- <h1 class="work-sans text-4xl">Astro</h1> -->

	
	<Hero />
</Layout>

